<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style type="text/css" media="screen">
        body {
            background-color:   #3e4095;
        }
img
        {
            display: block;
  margin-left: auto;
  margin-right: auto;
height: 13em;
width: 13em;
padding-top: 10px;
        }
         h1 {
            text-align: center;
            padding-bottom: 20px;
            font-weight: 900;
            font-size: 5em;
            color: aliceblue;
        }
        .logout{
            border-radius: 10px;
            padding: 12px;
            font-size: 16px;
            font-weight: 700;
            background-color: #91d8f8;
            color: aliceblue;
            margin-left: 46%;
            transition: 0.4s;
        }
.logout:hover
        {
            cursor: grabbing;
            background-color: #01afef;
            color: azure;
        }
    </style>
</head>

<body>
    <img src="https://upload.wikimedia.org/wikipedia/en/4/4f/Maulana_Azad_National_Institute_of_Technology_Logo.png"
        alt="error">


    <h1>Welcome to MANIT </h1>

    <a href="/logout"><button class="logout">Logout</button></a>
</body>

</html>